/* ini file css */
body {
  font-family: "Roboto", Arial, sans-serif;
}

article {
  text-align: justify;
}

.main-header {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-evenly;
}

form {
    background-color: rgb(238, 236, 232);
    padding: 16px;
    border-radius: 8px;
}

.main-section {
    width: 40%;
}

footer {
    text-align: center;
}

.form-item {
    justify-content: space-between;
    align-items: center;
}

  input[type=number], select {
    width: 100%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    height: 40px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #reset {
    background-color: red;
  }
  
  #hitung-bmi:hover {
    background-color: #249528;
  }

  #reset:hover {
    background-color: rgb(214, 12, 12);
  }
  
  .form-button-container {
    margin-top: 32px;
  }

#result-calculation {
  font-size: 40px;
}
#kesimpulan {
    text-align: center;
    background-color: rgb(238, 236, 232);
    padding: 10px;
    border-radius: 8px;
}

  /* responsive */
  @media only screen and (max-width: 480px) {
  main {
    flex-direction: column;
  }

  .main-section {
    width: 100%;
  }
}